/* == Backgrounds == */
body {
	background: url(../images/cold/mainbg.jpg);
}
#main_top {
	background: url(../images/cold/bodybg.jpg) repeat-x;
}
#header {
	background: url(../images/cold/maintopbg.png) no-repeat;
}
#footer {
	background: url(../images/cold/mainbotbg.png) no-repeat;
}
#content {
	background: url(../images/cold/mainmidbg.png) repeat-y;
}
#index_articles {
	background: url(../images/cold/slider_post.jpg) no-repeat;
}	
#showcase{
	background: url(../images/cold/sliderbg.jpg) repeat-x;
}	


/* == Icons and buttons == */
.bu {
	background: url(../images/cold/ic_search.gif) no-repeat;
}
.rss {
	background: url(../images/cold/ic_rss.gif) no-repeat;
}
#prevBtn a, #nextBtn a{  
	background:url(../images/cold/btn_prev.png) no-repeat 0 0;	
}	
#nextBtn a{ 
	background:url(../images/cold/btn_next.png) no-repeat 0 0;	
}


/* == Navigation == */
.sf-menu a {
	color: #bab9c2;
	background: #5e5d71;
}
.sf-menu a:hover, .sf-menu li.current_page_item a, .sf-menu li.current-cat a, .sf-menu li li a {
	background: #3e3f55;
	color: #bab9c2;
}
.sf-menu li li a:hover {
	background: #28283b;
}



/* == Footer == */
#footer, #copyright, #powered {
	color: #bab9c2;
}
#footer a, #powered a {
	color: #e0dfed;
}




a {
	color: #545377;
}
#biglinks li.current_page_item li a {
    color: #545377;
}