/* == Backgrounds == */
body {
	background: url(../images/gold/mainbg.jpg);
}
#main_top {
	background: url(../images/gold/bodybg.jpg) repeat-x;
}
#header {
	background: url(../images/gold/maintopbg.png) no-repeat;
}
#footer {
	background: url(../images/gold/mainbotbg.png) no-repeat;
}
#content {
	background: url(../images/gold/mainmidbg.png) repeat-y;
}
#index_articles {
	background: url(../images/gold/slider_post.jpg) no-repeat;
}	
#showcase{
	background: url(../images/gold/sliderbg.jpg) repeat-x;
}	


/* == Icons and buttons == */
.bu {
	background: url(../images/gold/ic_search.gif) no-repeat;
}
.rss {
	background: url(../images/gold/ic_rss.gif) no-repeat;
}
#prevBtn a, #nextBtn a{  
	background:url(../images/gold/btn_prev.png) no-repeat 0 0;	
}	
#nextBtn a{ 
	background:url(../images/gold/btn_next.png) no-repeat 0 0;	
}


/* == Navigation == */
.sf-menu a {
	color: #e4d8bc;
	background: #c0a563;
}
.sf-menu a:hover, .sf-menu li.current_page_item a, .sf-menu li.current-cat a, .sf-menu li li a {
	background: #897038;
	color: #e4d8bc;
}
.sf-menu li li a:hover {
	background: #725d2d;
}



/* == Footer == */
#footer, #copyright, #powered {
	color: #817352;
}
#footer a, #powered a {
	color: #8e7e54;
}




a {
	color: #897038;
}
#biglinks li.current_page_item li a {
    color: #897038;
}